aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
discord.py==2.7.1
flake8==7.2.0
frozenlist==1.8.0
idna==3.17
mccabe==0.7.0
multidict==6.7.1
nodeenv==1.10.0
propcache==0.5.2
pycodestyle==2.13.0
pyflakes==3.3.2
pyright==1.1.408
python-dotenv==1.2.2
typing_extensions==4.15.0
yarl==1.24.2
